.header__lang-link {
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;

}

@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: max(3.1vw, 18px);
    line-height: max(3.65vw, 20px);
  }
}