.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-inline: 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-inline: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-inline: 0;
  }
}