.cover__subtitle {
    font-family: 'Inter-Regular', Arial, sans-serif;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: max(14px, 2.34vw);
        line-height: max(16px, 2.86vw);

    }


}