.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 720px) {
    .footer__links {
        flex-direction: column;
        row-gap: 32px;
        align-items: flex-start;
        margin-bottom: 48px;
    }
}