.footer__copyright {
    font-family: 'Inter-Regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
        line-height: max(14px, 2.08vw);

    }

}