.lead__subtitle {
  font-family: 'Inter-Regular', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin: 0 0 64px;

}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: max(16px, 3.9vw);
    line-height: max(20px, 4.68vw);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 0 0 40px;
  }
}